services:
  nebula-sync:
    image: ghcr.io/lovelaze/nebula-sync:v0.11.1
    container_name: nebula-sync
    restart: unless-stopped
    user: 1001:1001
    secrets:
      - primary
      - replicas
    environment:
      - TZ=UTC
      - PRIMARY_FILE=/run/secrets/primary
      - REPLICAS_FILE=/run/secrets/replicas
      - FULL_SYNC=false
      - RUN_GRAVITY=false
      - CRON=0 */2 * * *
      - SYNC_CONFIG_DNS=true
      - SYNC_CONFIG_DHCP=false
      - SYNC_CONFIG_NTP=false
      - SYNC_CONFIG_RESOLVER=false
      - SYNC_CONFIG_DATABASE=false
      - SYNC_CONFIG_MISC=false
      - SYNC_CONFIG_DEBUG=false
      - SYNC_GRAVITY_DHCP_LEASES=false
      - SYNC_GRAVITY_GROUP=false
      - SYNC_GRAVITY_AD_LIST=true
      - SYNC_GRAVITY_AD_LIST_BY_GROUP=true
      - SYNC_GRAVITY_DOMAIN_LIST=true
      - SYNC_GRAVITY_DOMAIN_LIST_BY_GROUP=true
      - SYNC_GRAVITY_CLIENT=false
      - SYNC_GRAVITY_CLIENT_BY_GROUP=false

secrets:
  primary:
    file: ./secrets/primary.txt
  replicas:
    file: ./secrets/replicas.txt
